<div class="resultado">
  <h3>Texto ingresado</h3>
 
  <p> Correo ingresado:   </p>
  <!-- Uso de interpolacion -->
  <p>{{ correo}} </p>

  <p>Contraseña:</p>
  <!-- Uso de interpolación -->
  <p>{{contrasena}}</p>

  <p>Texto:</p>
  <p> {{ texto }}</p> 
  <!-- Aqui por medio de clases se realiza la acción , estas clases van hacer afectadas en css -->
  <!-- <button [class.animate]="animateButton" > Cuadrado</button> -->
  <button   [class.aceptar]="animateButton === 'aceptar'"
  [class.cancelar]="animateButton === 'cancelar'"
  [class.primario]="animateButton === 'primario'"
  [class.secundario]="animateButton === 'secundario'">Cuadrado  </button>

  </div> 

  


  <!-- <div class="visualizador">
    <h2>Datos Ingresados</h2>
    <p><strong>Correo:</strong> {{ correo }}</p>
    <p><strong>Contraseña:</strong> {{ contrasena }}</p>
    <p><strong>Texto:</strong> {{ texto }}</p>
  
    <div class="cuadrado" [class.clicked]="isClicked" (click)="toggleAnimation()">
      ¡Haz clic en mí!
    </div>
  </div> -->