<div class="resultado">
  <h3>Texto ingresado</h3>
 
  <p> Correo ingresado:   </p>
  <p>{{ correo }} </p>

  <p>Contraseña:</p>
  <p>{{contrasena}}</p>

  <p>Texto:</p>
  <p> {{ texto }}</p> 
    <button [class.animate]="animateButton"  > Cuadrado</button>
 

  </div> 

  


  <!-- <div class="visualizador">
    <h2>Datos Ingresados</h2>
    <p><strong>Correo:</strong> {{ correo }}</p>
    <p><strong>Contraseña:</strong> {{ contrasena }}</p>
    <p><strong>Texto:</strong> {{ texto }}</p>
  
    <div class="cuadrado" [class.clicked]="isClicked" (click)="toggleAnimation()">
      ¡Haz clic en mí!
    </div>
  </div> -->